<style>
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: #262626;
    }
</style>

{% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <a class="nav-link"
                    style="font-family: 'Courgette', cursive; font-size: 30px; padding-top: 0px; padding-bottom: 0px;"
                    href="/">instagram<span class="sr-only">(current)</span></a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <form class="form-inline my-2 my-lg-0 text-center" action="/search" role="search"">
                <input class="form-control mr-sm-2 bg-light" type="search" placeholder="Search" aria-label="Search" name="searchimage">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </ul>

        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i></a></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-plus-square"></i></a>



        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-heart"></i></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{user.profile.profile.url}}" class="rounded-circle border mx-auto" alt="{{user.username}}"
                    width="25" height="25" style="padding: 0px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'profile' user.username  %}"><i
                        class="far fa-id-badge"></i>Profile</a>
                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </div>
        </li>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</nav>
{% else %}
<a class="nav-item nav-link active" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
<a class="nav-item nav-link active" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>Signup</a>
{% endif %}